.sign_up_forms
  = image_tag "whirlpool.png"
.container
  .sign_in
    .panel.panel-primary.special
      .panel-heading
        %h2 Sign up
      .panel-body
        - if params[:type] == "Tutor"
          = render "tutor_form"
        - else
          = render "parent_form"
