!!!
%html{:lang => "en"}
  %head
    %title Tuteering - Parent Dashboard
  .container.dash
    %main{:role => "main"}
      / Jumbotron
      .jumbotron
        .row
          .col-lg-6
            %h2 Activity
            .activity
              %h3 Tutoring
              %p.detail Jimmmy has a tutoring date with Walter White coming up.
              %p.detail Sarah has a new match with Barukh.
              %p.detail Sammy has a new match with .
            %P
          .col-lg-6
            %p
            .card{:style => "width: 100;"}
              %h1 Profile
              - if current_user.filepicker_url.present?
                .image= filestack_image current_user.filepicker_url
              - else
                .image= image_tag "profile.jpg", class: "example-img"
              .card-body
                %h4.card-title= current_user.full_name
                %p.card-text= current_user.bio
