!!!
%html{:lang => "en"}
  %title Cover Template for Bootstrap
  %body#home
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          %header.masthead.clearfix.home-mast
            .inner
              %h3.masthead-brand Tuteering!
              %nav.nav.nav-masthead
                %a.nav-link.active.home{"data-target" => "#myModal", "data-toggle" => "modal", :type => ""} Login

          %main.inner.cover{:role => "main"}
            = render "login_modal"
            .center
              = image_tag "whirlpool.png"
              %h2.cover-heading
                Volunteering
                %i.fa.fa-users
                + tutoring
                %i.fa.fa-graduation-cap
                is a perfect match
                %i.glyphicon.glyphicon-heart
              %p.lead A platform for a community of caring samaritans giving their time to tutor the students of tomorrow.
              .links
                %button.btn= link_to  "Register as Parent", new_user_path(type: "Parent")
                %button.btn= link_to "Register as Tutor", new_user_path(type: "Tutor")
              %p.lead
          %footer.mastfoot
            .inner
