/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require trix
 *= require landing

 */

.modal-content{
  position: absolute;
  left: -48vw;
  top: 18vh;
}

.sign_in{
   margin: 2em auto;
}

body {
  /* padding-top: 20px; */
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
  background-color: #fff;
}

.jumbotrion{
  background-color: #fff !important;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.navbar {
  background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
  border: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

body, html {
    height: 100%;
}

#left {
    position: fixed;
    top: 0;
    bottom: 0;
}

body, html {
    height: 100%;
}

.tutor_image{
  width: 150px;
}

.tutors{
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: left;
}

.tutor {
  text-align: center;
  width: 25%;
  border: 1px solid #efefef;
  padding: 1em;
}

.tutor p{
  /* width: 80%; */
  font-size: 12px;
  margin: 0 0 0 53px;
  text-align: left;
}

.tutor img{
  margin-bottom: 15px;
}

.tutor .links{
  text-align: center;
}

.tutor a{
  width: 98%;
  margin: 10px 0 0 4px;
}

.tutor .links a{
  float: right;
  margin-left: 5px;
  width: 48%;
}

.reviews{
  border: 1px solid #efefef;
}

.review{
  padding: 15px;
  border-bottom: 1px solid #efefef;
}

.reviews .image{
  width: 200px;
  margin: 0 auto;
}

.reviews img{
  width: 100%;
  text-align: center;
}

.review img{
  width: 25px;
}

.review.average{
  text-align: right;
}

.no-reviews{
  margin-top: 1em;
  text-align: center;
}

.from{
  text-align: right;
  color: #0084b4;
}

.inner{
  color: #fff;
}

.inner .center{
  text-align: center;
}

.inner.cover .btn{
  color: orange;
  background-color: #fff;
  font-weight: bold;
}

.inner.cover a{
  color: orange;
}

.active.home{
  position: relative;
  top: 1.2em;
}

.card .image{
  width: 40%;
  margin: 0 auto;
}

.example-img{
  width: 100%;
}

.jumbotron{
  background-color: transparent !important;
}

select.form-control{
  height: 35px !important;
}

.holder{
  position: relative;
  top: 55px;
}

.glyphicon-plus{
  color: #f76b20;
  position: absolute;
  font-size: 55px;
}

.text-muted img{
  width: 12.5%;
  height: 5%;
}

html{
  overflow: scroll;
  overflow-x: hidden;
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.modal label{
  color: #000;
  text-align: left;
}

.modal input[type="submit"]{
  color: #fff !important;
}

.modal h4{
  color: #000;
  text-shadow: none;
}

.activity{
  text-align: left !important;
  padding: 10px;
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #efefef;
}

.col-lg-6 h3{
  text-decoration: underline;
  text-align: left;
}

.user{
  text-align: left;
  border-bottom: 1px solid #efefef;
}

h2.cover-heading{
  font-weight: bold;
}

p.lead{
  font-size: 16px;
}

.center img{
  width: 100%;
}

.cover-container{
  width: 40%;
}

.inner{
  padding: 2em;
}

.home-mast{
  width: 39%;
}

.panel-primary.special{
  margin: 0 auto;
  width: 55% !important;
}

.panel-primary.special .panel-heading{
  background-image: url("whirlpool.png") !important;
}


.sign_up_forms{
  padding-top: 1em;
  width: 10%;
  margin: 0 auto;
}

.sign_up_forms img{
  width: 100%;
}

body#special-body{
  background-image: url("cloud.jpg")
}

.messages .from{
  border-bottom: 1px solid #efefef;
  padding: 10px 0;
}

.messages .body{
  margin-top: 15px;
}

.messages form{
  margin-top: 1em;
}
